{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "aside" }}
  {{ partial "aside.html" . }}
{{ end }}

{{ define "main" }}
<h1 class="title is-1">{{ .Title }}</h1>
{{ partial "breadcrumb.html" . }}
<div class="content">
  {{ .Content }}
</div>

{{ range.Pages }}
<div class="">
    <a href="{{ .Permalink }}" style="display:block">
      <div class="section">
        <h4 class="subtitle has-text-primary is-size-6 has-text-right">{{ .Date.Format "02.01.2006" }}</h4>
        <h1 class="title is-size-4 has-text-weight-bold"><a href=""></a>{{ .Title }}</h1>
        <h2 class="subtitle has-text-grey">{{ .Params.description }}</h2>
        <figure class="image">
          <img src="{{ .Params.featured }}" alt="">
        </figure>
        <p>{{ .Summary }}</p>
      </div>
    </a>
</div>
{{ end }}

{{ end }}
