<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="">
        {{- partial "header.html" . -}}
        <section class="section">
          <div id="content" class="columns is-centered">
            <div class="column is-desktop is-2">
              {{- block "aside" . }}{{- end }}
            </div>
            <div class="column is-half">
              {{- block "main" . }}{{- end }}
            </div>
          </div>
        </section>
        {{- partial "footer.html" . -}}
    </body>
</html>
