<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="">
        {{- block "header" . -}}{{ end }}
        <section class="section">
          <div id="content" class="columns is-centered">
            <div class="column is-hidden-mobile is-2">
              {{- block "aside" . }}{{- end }}
            </div>
            <div class="column is-half has-navbar-fixed-top">
              {{- block "main" . }}{{- end }}
            </div>
              {{- block "r-aside" .}}{{- end }}
          </div>
        </section>
        {{- partial "footer.html" . -}}
        {{- block "custom-js" . -}}{{ end }}
    </body>
</html>
