{{ define "header-title" }}
<h1>{{ .Name }}</h1>
{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "aside" }}
  {{ partial "aside.html" . }}
{{ end }}

{{ define "main" }}
{{ partial "breadcrumb.html" . }}

<div class="content">
  <h5 class="subtitle has-text-grey is-7 has-text-weight-light">{{ .Date.Format "02.01.2006" }}</h5>
  <h1 class="title">{{ .Title }}</h1>
  {{ with .Params.description }}
    <h4 class="subtitle has-text-grey"> {{ . }}</h4>
  {{ end }}

  <div class="columns">
    {{ range .Params.authors }}
      {{ $persondata := (index $.Site.Data.authors .)}}
      {{ $pdict := (dict "data" $persondata "picsize" "is-64x64" "content" "false" "namesize" "is-size-6" "subsize" "is-size-7")}}
      {{ partial "person-info" $pdict }}
    {{ end }}
  </div>


  {{ with .Params.featured }}
  <figure class="image">
    <img src="{{ . }}" alt="">
  </figure>
  {{ end }}
  {{ with .Params.subtitle }}
        <h2 class="subtitle has-text-grey">{{.}}</h2>
        {{ end }}
  <p>{{ .Content }}</p>
</div>
{{ partial "references.html" .}}
{{ end }}
