{{ define "header-title" }}
<h1>{{ .Name }}</h1>
{{ end }}

{{ define "aside" }}
  {{ partial "aside.html" . }}
{{ end }}

{{ define "main" }}
{{ partial "breadcrumb.html" . }}

<div class="content">
  <h5 class="subtitle has-text-grey is-7 has-text-weight-light">{{ .Date.Format "02.01.2006" }}</h5>
  <h1 class="title">{{ .Title }}</h1>
  {{ with .Params.description }}
    <h4 class="subtitle has-text-grey"> {{ . }}</h4>
  {{ end }}

  <div class="columns">
    {{ range .Params.authors }}
    {{ $authordata := (index $.Site.Data.authors .)}}
    {{ partial "author-info" $authordata}}
    {{ end }}
  </div>


  {{ with .Params.featured }}
  <figure class="image">
    <img src="{{ . }}" alt="">
  </figure>
  {{ end }}
  {{ with .Params.subtitle }}
        <h2 class="subtitle has-text-grey">{{.}}</h2>
        {{ end }}
  <p>{{ .Content }}</p>
</div>
{{ partial "references.html" .}}
{{ end }}
