{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  <section class="hero is-small is-light override-navbar">
    <div class="hero-body">
      {{ partial "breadcrumb.html" . }}
    </div>
  </section>
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding">
    <section class="hero is-medium is-primary has-text-centered">
      <div class="hero-body">
        <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}">
          <span class="hero-quote">//Home</span>
        </a>
        <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/blog/">
          <span class="hero-quote">//Blog </span>
        </a>
        <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/projects/">
          <span class="hero-quote">//Projects </span>
        </a>
        <br>
        {{ $thistaxonomy := .Param "tags"}}
        {{ $title := .Title}}
        {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
          {{ if in $thistaxonomy $key }}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote has-text-success">#{{ $key }} </span>
            </a>
          {{ else if eq $key $title}}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote has-text-success">#{{ $key }} </span>
            </a>
          {{ else }}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote">#{{ $key }} </span>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </section>
    <section class="hero is-medium is-info">
      {{ range .Pages }}
        {{ if ne .Type "tags"}}
          {{ partial "content-ov.html" . }}
        {{ else }}
          {{ range .Pages }}
            {{ partial "content-ov.html" . }}
          {{ end }}
        {{ end }}
      {{ end }}
    </section>
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
