{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "aside" }}
  {{ partial "aside.html" . }}
{{ end }}

{{ define "main" }}
<h1 class="title is-2">{{ .Title }}</h1>
{{ partial "breadcrumb.html" . }}
<div class="content">
  {{ .Content }}
</div>

{{ partial "timeline.html" . }}


<section class="section">
  <div class="columns is-multiline">
    {{ range.Sections }}
    <a href="{{ .Permalink }}">
    <div class="column is-half">
      <div class="media">
        <div class="media-left">
          <p class="image is-64x64 center">
            <i class="{{ .Params.headericon }} fa-2x"></i>
          </p>
        </div>
        <div class="media-content">
          <h1 class="is-size-4 has-text-weight-bold"><a href=""></a>{{ .Title }}</h1>
          <h4 class="has-text-grey">{{ .Params.description }}</h4>
        </div>
      </div>
    </div>
  </a>
    {{ end }}
    {{ range.Pages }}
    <div class="column is-half">
      <div class="media">
        <div class="media-left">
          <p class="image is-64x64 center">
            <i class="{{ .Params.headericon }} fa-2x"></i>
          </p>
        </div>
        <div class="media-content">
          <h1 class="is-size-4 has-text-weight-bold"><a href=""></a>{{ .Title }}</h1>
          <h4 class="has-text-grey">{{ .Params.description }}</h4>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
