<aside class="menu is-hidden-mobile">
  <figure class="image is-128x128">
    <img class="center" src="{{ .Site.Params.logo.notext | relURL }}">
  </figure>
  <h1 class="branding "> BIOTOP*</h1>
  <h2 class="branding-subtitle ">SCIENCE COLLECTIVE</h2>
  <p class="menu-label">
    {{ .Title }}
  </p>
  <ul class="menu-list">
    {{ .TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" | safeHTML }}
  </ul>


  <ul class="menu-list">
    {{ range .Sections }}
    <li>
      <a href="{{ .Permalink }}">
        {{ with .Params.headericon }}
        <i class="{{ . }}"></i>
        {{ end }}
        {{ .Title }}
      </a>
    </li>
    {{ end }}
    {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">
        {{ with .Params.headericon }}
          <i class="{{ . }}"></i>
        {{ end }}
        {{ .Title }}
      </a>
    </li>
    {{ end }}

    {{ if .IsTranslated }}
      <p class="menu-label"> Translations</p>
      <ul class="menu-list">
        {{ range .Translations }}
        <li>
          <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        </li>
        {{ end}}
      </ul>
    {{ end }}

    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
      <p class="menu-label">See Also</p>
      <ul class="menu-list">
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </ul>
</aside>
