<nav class="navbar">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logo.standard | relURL }}">
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <!-- navbar start, navbar end -->
    <div class="navbar-start"></div>
    <div class="navbar-end">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }} is-active {{ end }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
</nav>
