<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand" style="z-index:50">
      <!-- navbar items, navbar burger... -->
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logo.standard | relURL }}">
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <!-- navbar-start, navbar-end... -->
      <section class="padded">        
        <div class="tabs">
          <ul>
            <li class="tab is-active" onclick="openTab(event,'content-sb-tab-menu')"><a class="menu-label">Menu</a></li>
            <li class="tab" onclick="openTab(event,'content-sb-tab-calendar')"><a class="menu-label">Calendar</a></li>
            <li class="tab" onclick="openTab(event,'content-sb-tab-search')"><a class="menu-label">Search</a></li>
          </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="content-tab" id="content-sb-tab-menu">
            {{ partial "menu.html" . }}
          </div>
          <div class="content-tab" id="content-sb-tab-calendar" style="display:none">
            <ul id="sb-cal" class="menu-list">
              {{ partial "calendar.html" . }}
            </ul>
          </div>
          <div class="content-tab" id="content-sb-tab-search" style="display:none">
            {{ partial "search.html" . }}
          </div>
        </div>
      </section>
    </div>
  </div>
</nav>
