<div class="column is-half meta">
  <div class="media">
    <div class="media-left">
      <p class="image {{ .picsize }}">
        <img class="is-rounded" src="{{ .data.featured | relURL }}">
      </p>
    </div>
    <div class="media-content content">
      {{ $lang := (i18n "lang")}}
      <span class="has-text-weight-bold {{ .namesize }} has-text-dark"> {{ .data.name }}</span><br>
      {{ if ne .subsize "none"}}
        <span class="is-hidden-mobile has-text-grey {{ .subsize}}"> {{ index .data.role $lang }} | {{ index .data.trained $lang }}</span><br>
      {{ end }}
      {{ if eq .content "true" }}
        <div class="content">
          <p>{{ (index .data.bio $lang) | markdownify }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</div>
