{{ define "header" }}
  {{ partial "hero.html" . }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "aside" }}
  {{ partial "aside-ix.html" . }}
{{ end }}

{{ define "main" }}
  <section class="content" id="idx-content">
    <div class="content">
      <p>{{ .Content }}</p>
    </div>
    {{ with (index .Site.Data.timeline "landingpage") }}
      {{ partial "timeline.html" . }}
    {{ end }}

  </section>

  {{ range .Pages }}
    {{ if eq .Params.type "index" }}
      <section class = "section" id="{{ .Title | urlize }}">
        {{ partial "bubble.html" . }}
        <div class="content">

          {{ with .Params.featured }}
          <figure class="image">
            <img src="{{ . }}" alt="">
          </figure>
          {{ end }}
          {{ with .Params.subtitle }}
            <h2 class="subtitle has-text-grey">{{.}}</h2>
          {{ end }}
          <p>{{ .Content }}</p>


        </div>
      </section>
    {{ end }}
  {{ end }}

{{ end }}

{{ define "custom-js" }}
<script src="https://d3js.org/d3.v3.min.js"></script>
{{ $scripts := resources.Get "voronoi.js" }}
<script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
